html 
    head 
        title Document

    body 
        form(action='/data' method='get')
            | Username : 
            input(type='text' name='name')
            br
            | Email :
            input(type='email' name='mail')
            br
            | Course :
            br
            input(type='radio' name='course' value='CE')
            | CE
            br
            input(type='radio' name='course' value='IT')
            | IT
            br
            input(type='radio' name='course' value='CSE')
            | CSE
            br
            input(type='submit')
