html 
    head 
        title  Documnent 

    body
        form(action='/upload' method='post' enctype='multipart/form-data')
            h3(style='color: red') Upload your CV
            input(type='file' name='lju')
            input(type='submit')
