html 
    head 
        title Table
    body 
        table(border=1 rules='all')
            tr
                b 
                    th Sr.No 
                    th Subject
                    th Faculty Name

            tr 
                td 1
                td FSD-2
                td ABC   

            tr 
                td 2
                td PYTHON-2
                td PQR

            tr 
                td 3
                td COA
                td XYZ         
